/* ------------------------------------------------------- */
/* ------------------- IMAGE SECTION --------------------- */
/* ------------------------------------------------------- */
.second-img{
    display: none;
}


@media (max-width: 498px) {
    .second-img{
        display: block;
    }

    .first-img{
        display: none;
    }
}
